@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-black text-slate-100;
    overscroll-behavior: none;

}

:root {
    --primary: rgb(7, 7, 7);
    --secondary: rgb(50, 50, 50);
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
}